**/.DS_Store

/pack/minpac/opt/*
/pack/minpac/start/*
/pack/plugins/opt/*
/pack/plugins/start/*

pack/non-managed

local.vim
.netrwhist

/files/backup/*
/files/info/*
/files/swap/*
/files/undo/*
/files/session/*

!/files/backup/.gitkeep
!/files/info/.gitkeep
!/files/swap/.gitkeep
!/files/undo/.gitkeep
!/files/session/.gitkeep

coc/**/*
!coc/.gitkeep

spell/*.spl

UltiSnips/*
pack/YouCompleteMe/*
**/tags
